/* PALETA DE COLORES: */
:root {
    --blanco1: #ffff;
    --blanco2: #EAE8EC;
    --gris: #A19195;
    --celeste: #8475BF;
    --azul_claro: #726498;
    --azul: #3C4477;
    --negro: black;
}

/* ---------------------------------- */
/* -------- HEADER Y NAV ------------ */
/* ---------------------------------- */
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url("../img/fondo2.png");
    background-color: var(--azul);
}

header {
    border: 4px solid var(--blanco2);
    border-radius: 10px 10px 0 0;
    margin-top: auto;
    background-color: var(--blanco2);
}

.encabezado {
    display: flex;
    flex-direction: row;
}

.logo {
    width: 130px;
    height: auto;
    margin: 0px 0px 0px 30px;
    display: block;
    justify-content: flex-start;
}

h1 {
    display: flex;
    align-items: center;
    font-family: 'Tilt Warp', cursive;
    font-size: 45px;
    margin-left: 40px;
}

.titulo_home {
    color: var(--azul);
    display: flex;  
    justify-content: center;
    align-items: center;
    font-family: 'Tilt Warp', cursive;
    font-size: 35px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--blanco2);
    padding: 5px 7px 5px 7px;
    border-radius: 8px;
}

/* ********** Navbar sticky!! ********* */
.navbar {
    position: sticky;
    top: 0;
    z-index: 200;
}
/* ************************************ */

nav > ul{
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    font-family: Helvetica, sans-serif;
    /* font-family: 'Tilt Warp', cursive; */
    border: 4px solid var(--celeste);
    border-radius: 0 0 10px 10px;
    padding: 25px;
    margin-top: -4px;
    background-color: var(--celeste);
}

.menu {
    position: relative;
    z-index: 100;
}

.menu li a:hover{
    background-color: var(--blanco2);
    color: var(--azul_claro);
}

.menu li:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

/* Haciendo el menú desplegable */
.submenu1 {
    display: flex;
    flex-direction: column;
    padding: 10px 20px 10px 20px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
    border-radius: 10px;
}

.submenu1 li a {
    display: block;
    padding: 9px;

}

.menu li:hover .submenu1 {
    visibility: visible;
    opacity: 1;
    background: var(--gris);
    color: var(--azul_claro);
}

/* ------ FIN DE ESTILOS NAVBAR Y HEADER ----- */
/* ******************************************* */

/* ---------------- CONTENIDO ---------------- */
/* Imagen de la home - (posible slider) */
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.img_home {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.slider {
    display: flex;
    justify-content: center;
    width: 85%;
    margin: 10px 0 20px 0;
    background-color: var(--blanco2);
    border-radius: 8px;
    padding: 35px;
}

.texto1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto1 p {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    margin: -20px 20px 25px 0px;
    padding: 30px;
}

.titulo_slider {
    color: var(--azul);
    font-family: 'Tilt Warp', cursive;
    font-size: 40px;
    margin-top: 50px;
}

.btn1 {
    margin-top: -20px;
    padding: 8px 10px 8px 10px;
    border: 3px solid var(--azul);
    border-radius: 20px;
    background: var(--blanco1);
}

.btn1 a {
    color: var(--azul);
    font-size: 15px;
}

.btn1:hover {
    background: var(--azul);
    transition: 0.5s;
    scale: 1.1;
}

.btn1 a:hover {
    color: var(--blanco2);
    font-weight: bolder;
}

/* ------------- CARDS --------------- */
/* *********************************** */

.card1, .card2, .card3, .card4, .card5, .card6{
    width: 350px;
    height: auto;
    background: var(--blanco2);
    margin: 20px 30px 20px 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px 15px 20px 30px;
}

.img_card {
    width: 95%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.img_card:hover{
    scale: 1.1;
    transition: 1s;
    cursor: pointer;
}

h3 {
    display: flex;
    justify-content: flex-start;
    color: var(--azul);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-variant: small-caps;
    font-weight: bolder;
    font-size: 30px;
}

.titulo_card {
    display: flex;
    justify-content: center;
    color: var(--azul);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-variant: small-caps;
    font-weight: bolder;
    font-size: 25px;
}

.texto_card {
    margin: -25px 8px 45px 8px;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

/* Aplicando GRID - DIAGRAMANDO!! */
/* ********************************** */

.container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 0;
}

.card1 { 
    grid-area: 1 / 1 / 2 / 2; 
}

.card2 { 
    grid-area: 1 / 2 / 2 / 3; 
}
    
.card3 { 
    grid-area: 2 / 1 / 3 / 2; 
}
    
.card4 { 
    grid-area: 2 / 2 / 3 / 3; 
}
    
.card5 { 
    grid-area: 3 / 1 / 4 / 2; 
}

.card6 { 
    grid-area: 3 / 2 / 4 / 3; 
}
    
.lateral { 
    grid-area: 1 / 3 / 3 / 4; 
}

/* -------- FIN DISTRIBUCIÓN GRID!! ------------ */
/* Hecho con: "https://cssgrid-generator.netlify.app/" */
/* ********************************************* */

/* ******************************************* */
/*  *****----------- FOOTER -----------******* */
/* ******************************************  */

footer {
    width: 100%;
    height: auto;
    background-image: url("../img/ola.svg");
    position: relative;
    margin: auto auto -10px auto; 
    border-radius: 10px 10px 0 0;
}

h5 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: var(--blanco2);
    font-size: 35px;
    font-family: 'Tilt Warp', cursive;
    margin: 30px auto 15px auto;
}

.iconos_footer {
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-bottom: 30px;
}

.copyright {
    display: flex;
    justify-content: center;
    color: var(--blanco2);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 

/* **************************************** */
/* --------- LATERAL (aside) -------------- */
/* **************************************** */

aside {
    background: var(--blanco2);
    margin: 20px 0 20px 0;
    border-radius: 10px;
}

.calendario {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.img_calendario {
    width: 90%;
    height: auto;
    margin: auto;
    border-radius: 10px;
    padding-bottom: 40px;
}

h4 {
    display: flex;
    justify-content: space-between;
    margin: 35px 10px 10px 30px;
    font-size: 25px;
    font-family: 'Tilt Warp', cursive;
    color: var(--azul);   
}

input {
    border: 2px solid var(--celeste);
    border-radius: 10px;
    margin: 0 0 10px 30px;
    padding: 8px 50px 8px 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input:hover {
    border: 3px solid var(--azul_claro);
    cursor: text;
}

.btn_buscar {
    padding: 4px;
    font-size: 15px; 
    margin: 2px 0 0 10px;
    border: 2px solid var(--celeste);
    border-radius: 10px;
    background-color: var(--blanco1); 
}

.btn_buscar:hover {
    border: 3px solid var(--azul_claro);
    background-color: var(--blanco2);
    cursor: pointer;
}

.menu_categorias > a {
    display: flex;
    justify-content: flex-start;
    color: var(--azul_claro);
    font-family: Helvetica, sans-serif;
    margin: 0 0 10px 30px;
    font-size: 20px;
}

/* *************************************** */
/* ---------- MENÚ HAMBURGUESA ----------- */
/* *************************************** */

.menu_hambur {
    width: 100%;
    height: 40px;
    cursor: pointer;
    /* líneas de menú hamburguesa "invisibles" (no se muestran con display:none) */
    display: none;
    position: relative;
}

.menu_hambur img {
    width: 20%;
    height: auto;
    flex-direction: column;
    align-items: center;
}
/* *************************************** */
/* -------- DISEÑO RESPONSIVE ------------ */
/* *************************************** */

@media (max-width: 768px) {

    /* *************************************** */
/* ---------- MENÚ HAMBURGUESA ----------- */
/* *************************************** */
    .menu_hambur {
        /* que aparezca menú hamburguesa!! */
        display: flex;
        position: absolute;
        background-color: var(--celeste);
        padding-bottom: 10px;
        border-radius: 0 0px 10px 10px;  
    }

    .menu_hambur img {
        margin: 10px 0 0px 25px;  
    }
    
    .menu {
        background-color: var(--negro);
        border: 4px solid var(--negro);
    }

    .navbar ul {
        position: absolute;
        flex-direction: column;
        width: 85%;
        align-items: flex-start;
        top: 45px;
        /* transformaciones para que el menú aparezca desde al lado izquierdo   */
        transform: translate(-105%);
        transition: transform .5s;
        /* fin transformación */
    }

    /* Nueva clase para hacer visible el menú */
    .navbar ul.menu_visible {
        transform: translate(0);
    }
    /* fin de nueva clase  */

    .navbar ul li {
        margin: 10px;
    }

    .submenu1 {
        display: flex;
        margin: -60px 10px 0 255px;
        padding-left: -10px;
    }

    .menu li ul {
        padding-right: 60px;
    }

    .submenu1 ul li {
        margin-right: 100px;
    }

    .submenu1 li a {  
        margin-left: -15px;
    }
    
    /* ***************************** */
    /* SLIDER CONTENIDO */
    /* ***************************** */
    
    .slider {
        width: 80%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 60px auto 10px auto;
    }

    .texto1 h2 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        font-size: 30px;
    }

    .titulo_slider {
        display: flex;
        margin: 25px auto 25px auto;
    }
    /* *************************************** */
    /* ------- HEADER (ENCABEZADO)------------ */
    /* *************************************** */
    .logo {
        width: 120px;
        height: auto;
        margin: auto 15px auto 15px;
    }

    .titulo_reserva {
        font-size: 40px;
        margin: auto;
    }

    .encabezado {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }

    .texto1 p {
        margin: -40px 0 10px 0;
    } 

    .img_home {
        width: 95%;
        height: auto;
    }

    /* *************************************** */
    /* ------------------ CARDS  -------------- */
    /* *************************************** */

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .card1, .card2, .card3, .card4, .card5, .card6 {
        width: 95%;
        margin: 30px 0 20px 0;
    }
    
    .img_card {
        margin-right: 10px;
    }
    
    /* *************************************** */
    /* ---------------- FOOTER  -------------- */
    /* *************************************** */
    footer {
        width: 95%;
        height: auto;
    }

    h5 {
        font-size: 30px;
    }

    /* FIN primer breakpoint */
}

/* breakpoint 2 */
/* EN PROCESO... */


/* *************************************************************************** */
/* ************************************ */
/* ------- PAGINA DE RESERVAS --------- */
/* ************************************ */

/* logo de la pagina en el encabezado */
.logo2 {
    width: 100px;
    height: auto;
    border-radius: 50%;
    margin-right: 20px;   
}

.titulo_reserva {
    color: var(--azul);
    display: flex;  
    justify-content: center;
    align-items: center;
    font-family: 'Tilt Warp', cursive;
    font-size: 35px;
    margin-left: -5px;
}

.contenedor_reserva {
    width: 35%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    border-radius: 10px;
    background-color: var(--blanco2);
    margin: 25px auto 25px auto;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.encabezado_reserva {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

label, input {
    margin-bottom: 10px;
    margin-right: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
}

input:hover {
    cursor: pointer;
}

.checkbox1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    margin: 5px auto 5px auto;
}

.item_materia {
    display: flex;
    justify-content: space-between;
}

select {
    border: 2px solid var(--celeste);
    background-color: var(--blanco1);
    border-radius: 10px;
    margin: 10px 0 10px 30px;
    padding: 8px 50px 8px 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

select:hover {
    border: 3px solid var(--azul_claro);
    cursor: pointer;
}

/* ************* BOTÓN DE RESERVA ************** */
/* ********************************************* */
/* (centrado) */
.btn {
    display: flex;
    justify-content: center;
}
/* características del btn */
.btn_reserva {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 20px;
    padding: 8px 10px 8px 10px;
    border: 3px solid var(--azul);
    border-radius: 20px;
    background: var(--blanco1);
}

.btn_reserva a {
    color: var(--azul);
    font-size: 15px;
    font-weight: bolder;
}

.btn_reserva:hover {
    background: var(--azul);
    transition: 0.5s;
    scale: 1.1;
}

.btn_reserva a:hover {
    color: var(--blanco2);
    font-weight: bolder;
}
/* Fin btn_reserva */

.comentarios {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 10px;
}

.comentarios textarea {
    border-radius: 10px;
}

/* *************************************** */
/* -------- DISEÑO RESPONSIVE ------------ */
/* *************************************** */

@media (max-width: 768px) {
    .contenedor_reserva {
        width: 75%;
        height: auto;
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        
    }

    .label_reserva {
        padding: 5px 5px 15px 5px;
    }

    .input_reserva {
        margin-top: 10px;
    }

    .titulo_reserva {
        display: flex;
        align-items: center;
        font-size: 25px;
    }

    .checkbox1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 10px;
    }   
}
/* analizar un segundo breakpoint */

/* *************************************************************************** */
/* ************************************ */
/* ------- PAGINA DONDE ESTAMOS --------- */
/* ************************************ */

.cajita {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Tilt Warp', cursive;
    border: 4px solid var(--celeste);
    padding: 20px 30px 20px 30px;
    margin: 20px auto 20px auto;
    border-radius: 10px;
    background-color: var(--celeste);
    color: var(--blanco2);
}

.mapa img {
    width: 80%;
    height: auto;
    border-radius: 10px;
}

.mapa {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 30px auto;
}

/* *************************************************************************** */
/* ************************************ */
/* ------- PAGINA INICIAR SESIÓN --------- */
/* ************************************ */

/* Se hizo con las mismas clases de  */


/* *************************************************************************** */
/* ************************************ */
/* ------- PAGINA DE MATERIAS --------- */
/* ************************************ */
/* MATERIA QUÍMICA */

/* Sección Inicial */
.inicio_materia {
    width: 70%;
    height: auto;
    background-color: var(--blanco2);
    margin: 20px auto 40px auto;
    border-radius: 10px;
}

.titulo_materia_inicio {
    color: var(--azul);
    font-family: 'Tilt Warp', cursive;
    font-size: 40px;
    margin: 30px auto 20px 40px;
}

/* ESTILOS DE TABLA  */
/* ***************************************************** */

.tabla_materia {
    width: 70%;
    height: auto;
    background-color: var(--blanco2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    margin: auto;
}

.tabla_materia1 {
    width: 70%;
    padding-bottom: 40px;
}

table {
    width: 100%;
    text-align: center;
    background-color: var(--blanco2);
    border-collapse: collapse;
    border-radius: 10px;
    margin: auto;    
}

th, td {
    padding: 20px;
    font-size: 18px;
    font-family: Helvetica, sans-serif;
}

thead {
    background-color: var(--celeste);
    color: var(--blanco2);
    border-bottom: 5px solid var(--azul_claro);
    font-size: 20px;   
    font-family: Helvetica, sans-serif;
}

tr:nth-child(even) {
    background-color: var(--gris);
}

tr:hover td {
    background-color: var(--azul_claro);
    color: var(--blanco2);
}

.titulo_tabla {
    color: var(--azul);
    font-family: 'Tilt Warp', cursive;
    font-size: 40px;
}

/* FIN ESTILOS DE TABLA ---------- */
/* *********************************************************** */

/* Sección final: Virtual */
.virtual_materia {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    background-color: var(--blanco2);
    border-radius: 10px;
    margin: 40px auto 40px auto;
    padding-bottom: 40px;
}

.titulo_materia_virtual {
    color: var(--azul);
    font-family: 'Tilt Warp', cursive;
    font-size: 40px;
    margin: 30px auto 20px 40px;
}

