* {
    margin: 0;
    padding: 0;
    background-color: rgb(200, 210, 200);
}

/* PALETA DE COLORES: */
:root {
    
}

/* ---------------------------------- */
/* -------- HEADER Y NAV ------------ */
/* ---------------------------------- */
img {
    width: 150px;
    height: auto;
}